@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TheJamsil5Bold';
}
a {
    text-decoration: none;
}
#container {
    margin: 0 auto; /*화면 중앙에 배치*/
    width: 1200px;
    border-bottom: 3px solid rgb(193, 193, 193);
}
/*//////////////////////////////////////////////*/
/*헤더 영역*/
#boxheader {
    width: 100%;
    height: 100px;
    background-color: #fff;
    margin-bottom: 20px;
}

/*로고 영역*/


#logo{
    font-family: 'Baloo 2', cursive;
    font-size: xx-large;
    float: left;
    width: 250px;
    height: 100px;
    line-height: 100px; /*높이값과 같게  중앙정렬*/
    padding-left: 30px;
}
#logo h1 {
    text-decoration: none;
    color: white;
}

/*네비게이션 영역*/
nav{
    float: right;
    width: 900px;
    height: 100px;
    padding-top: 40px;
}

#topMenu {
    height: 60px;
}
#topMenu > li {
    float: left;
    position: relative; /*서브메뉴를 absolute로 만들기위해 부모 요소를 relative로 지정 */
}
#topMenu >li > a{
    display: block;
    color: #000;
    font-weight: 600;
    padding: 20px 60px;
}
#topMenu >li > a> span{
    font-size: 0.5rem;
}
#topMenu > li > a:hover {
    color: #0050ff;

}
#topMenu > li > ul{
    display: none;
    position: absolute;
    width: 160px;
    background-color: #e2f2ff; 
    left: 20px;
    margin: 0;
}
#topMenu >li >ul >li {
    padding: 10px 10px 10px 30px;
}
#topMenu >li >ul >li >a{
    font-size: 14px;
    padding: 10px;
    color: #000;
}
#topMenu >li:hover >ul {
    display: block; /*메인 메뉴 항목위로 오버하면 서브 메뉴 표시*/
    z-index: 10; /*슬라이드에 가리지 않게 조절*/
}
#topMenu >li >ul >li >a:hover {
    color: #0050ff;
}
ul li{
    list-style: none;
}

li a:hover {
   color: #0050ff;
}

.suc {
    display: none;
}

.bef {
    display: block;
}